<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.qlearning.uat.listeners.MyListeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qlearning.uat.testcases.RegisterTest" />
			<class name="com.qlearning.uat.testcases.LoginTest" />
			<class name="com.qlearning.uat.testcases.AccountSettingsPageTest" />
			<class name="com.qlearning.uat.testcases.SearchTest" />
			<class name="com.qlearning.uat.testcases.PayoutInfoPageTest" />
			<class name="com.qlearning.uat.testcases.ProfilePageTest" />
			<class name="com.qlearning.uat.testcases.RecordedCoursesTest" />
			<class name="experiment.SampleTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->